<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="./Logs/nlog-internal.log" > <!-- internalLogLevel="Off" 关闭内部日志记录 NLog内部日志文件位置-->
<!--定义配置文件中用到的变量-->
  <variable name="fileFormat"
            value="
            ${newline}date: ${date}
            ${newline}level: ${level}
            ${newline}logger: ${logger}
            ${newline}machinename: ${machinename}
            ${newline}message: ${message}
            ${newline}appdomain: ${appdomain}
            ${newline}assembly-version: ${assembly-version}
            ${newline}basedir: ${basedir}
            ${newline}callsite: ${callsite}
            ${newline}counter: ${counter}
            ${newline}nlogdir: ${nlogdir}
            ${newline}processid: ${processid}
            ${newline}processname: ${processname}
            ${newline}specialfolder: ${specialfolder}
            ${newline}stacktrace: ${stacktrace}
            ${newline}------------------------------------------------------------" />
  <targets async="true"> <!--通过将async设置为true可以异步保存日志，从而防止日志影响业务性能-->
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target name="error_file" xsi:type="File" createDirs="true" concurrentWrites="true"
            autoFlush="false" openFileFlushTimeout="10"
            keepFileOpen="false" openFileCacheTimeout="30"
            fileName="${basedir}/Logs/Error/${shortdate}.log"
            encoding="UTF-8" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="app_file" xsi:type="File" createDirs="true" concurrentWrites="true"
            autoFlush="false" openFileFlushTimeout="10"
            keepFileOpen="false" openFileCacheTimeout="30"
            fileName="${basedir}/Logs/Applog/${shortdate}.log"
            encoding="UTF-8" maxArchiveFiles="30"
            layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="all_file" xsi:type="File"
            fileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.log"
            
            autoFlush="false" openFileFlushTimeout="10"
            maxArchiveFiles="30" archiveNumbering="Sequence" archiveAboveSize="1024000"
            archiveFileName="${basedir}/Logs/${date:format=yyyy-MM}/${shortdate}.{#}.log"
            layout="${fileFormat}" encoding="UTF-8"/>
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="AppLog" minlevel="Info" writeTo="app_file" />
    <logger name="ErrorLog" minlevel="Error" writeTo="error_file" />
  </rules>
</nlog>